---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set staticPages = [
  '/',
  '/tools/',
  '/articles/',
  '/about/',
  '/contact/',
  '/privacy/',
  '/terms/'
] %}
{% for url in staticPages %}
  <url>
    <loc>{{ site.url }}{{ url }}</loc>
  </url>
{% endfor %}
{% for tool in tools %}
  <url>
    <loc>{{ site.url }}{{ tool.url }}</loc>
  </url>
{% endfor %}
{% for article in articles %}
  <url>
    <loc>{{ site.url }}/articles/{{ article.slug }}/</loc>
    <lastmod>{{ article.modified or article.date }}</lastmod>
  </url>
{% endfor %}
</urlset>
